.main--page {
  overflow: hidden;
  text-align: center;
  min-height: 100vh;
  background-color: antiquewhite;
  width: 100%;
}

.main--page h2 {
  font-size: 40px;;
}

.main--page h3 a {
  color: blue;
  cursor: pointer;
}

.authors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.autors li {
  display: flex;
  text-decoration: none;
}

@media screen and (max-width: 768px){
  .main--page {
    margin-top: 50px;
  }
  .authors {
    grid-template-columns: repeat(1, 1fr);
  }
}
